body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #222;
}
#page-standr {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#top_bar_container {
    display: flex;
    justify-content: space-between;
    padding: 6px;
}
.links-container{
display: flex;
}
.links {
    justify-items: flex-end;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 6px;
    color: black;
    width: 50px;
}
.links:hover {
    text-decoration: underline;
}
#title-style{
    margin: 30px 10px;
}
#title-style label{
    color: #d93025;
    font-size: 20px;
    margin: 50px 30px;
}
#divider{
   border-bottom: 1px solid #ebebeb;
}
.advanced-search-container {
    margin: 50px 40px;
  }
  .advanced-search-container label {
    display: inline-block;
    width: 16%;
    font-size: 20px;
  }
  .advanced-search-container .whitespace {
    display: inline-block;
    width: 50%;
  }
  .advanced-search-container .form-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0;
  }
  .advanced-search-container .form-group label {
    width: 16%;
    font-size: 14px;
  }
  .advanced-search-container .form-group input[type=text] {
    width: 49%;
    padding: 2px 0;
  }
  .advanced-search-container .form-group .clarification {
    font-size: 11px;
    width: 30%;
    margin-left: 1%;
  }
  .advanced-search-container .form-group .clarification .monospace {
    font-family: monospace;
  }
  .advanced-search-container .form-group .right-align {
    width: 50%;
  }
  .blue-button{
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    appearance: push-button;
    height: 30px;
    float: right;
    margin-right: -18px;
  }