body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #222;
}

#page-standr {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#top_bar_container {
    display: flex;
    padding: 6px;
    justify-content: flex-end;
}

.links {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 6px;
    color: black;
    width: 50px;
}

.links:hover {
    text-decoration: underline;
}

.logo-image-container {
    min-height: 300px;
    max-height: 320px;
    height: calc(100% - 560px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-image {
    max-height: 92px;
    height: 100%;
    margin-top: auto;
}
.logo-text{
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    right: -1000px;
}

.image-style {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

#search-form-container {
    padding: 20px;
    max-height: 160px;

}

.search-form {
    position: relative;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    position: relative;
}

.search-form:hover {
    display: flex;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0)
}

.input-field {
    background-color: transparent;
    padding: 3px;
    border: none;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
}

.input-field:focus {
    outline: none;
}

.search-icon-container {
    display: flex;
}

.search-icon {
    padding-top: 12px;
    padding-left: 5px;
    display: inline-block;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
}

.voice-icon-container {
    display: flex;
}

.voice-icon {
    padding-top: 12px;
    padding-right: 5px;
    display: inline-block;
    justify-content: flex-end;
    color: #222;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    right: 0px;
}

.search-botton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-botton:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124
}

.search-botton:focus {
    border: 1px solid #4d90fe;
    outline: none
}

.magnifying-search {
    flex: 0 0 auto;
    padding-right: 13px;
    margin-right: 10px;
    margin-top: 8px;
    background: transparent;
    border: none;
    cursor: pointer;
    flex: 0 0 auto;
    padding: 0;
    background: none;
    fill: #4285f4;
    height: 24px;
    width: 24px;
    outline: none;
}